@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
header{
  background-image: url(../img/fruit.jpg);
  
  background-repeat: no-repeat;
}
h1{
  color: #fff;
}
main div {
    justify-content: center

}
main img {
  width: 120px;
  height: 120px;
  padding: 2px;
  border: 1px solid #165b64;
}

.kartya{
    width: 120px;
    margin: 30px;
    border: none;
    background-color: transparent;
    
}
.gomb{
  padding: 10px 40px;
}
.gomb:hover{
    background-color: rgba(0, 128, 255, 0.7) !important;
    color: black !important;
    border: none;
}
.gomb{
  padding: 10px 40px;
}

.pont{
  
    padding: 10px 30px;
    border-radius: 10px;
    margin-left: 5px;
    ;
    background-color: rgba(243, 238, 230,0.5);
}

.k{

  align-items: center;
  
  
}
.f{
  margin-top: 50px;
  margin-right: 5px;
}

